:root {
  --Black: #333;
  --White: #fff;
  --DadBlue: rgb(22, 79, 156);
  --DadYellow: #fbee00;
  --DadRed: #c11f32;
  --DadGray: #eee;
}

* {
	overflow: hidden;
	padding: 0;
	margin: 0;
	
}

body {
	background: var(--DadYellow); /* or DadGray? */
}

.main {
	height: 75%;
	width: 90vw;
	padding: 50px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin: -10px 0 0 0;
}

.can {
	width: 400px;
	height: 620px;
	aspect-ratio: 3 / 4;
	border-radius: 100% / 20% 20% 40% 40%;
	border-top: 4px solid var(--DadRed);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	z-index: 5;

	background: var(--DadBlue);
	  filter: drop-shadow(0 0 0.75rem #6b6b6b);
 	box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
}

.the_lid {
	width: 400px;
	height: 136px;
	border-radius: 62%;

	background: linear-gradient( -10deg, 
		#c0c0c0  5%, 
		var(--White) 15%, 
		#dcdcdc 30%, 
		var(--White) 50%,
		#dcdcdc 70%, 
		var(--White) 80%,
		#c0c0c0  90% );
	background: #c0c0c0; 
	margin-bottom: 512px;

	filter: drop-shadow(0 0 0.75rem #6b6b6b);
 	box-shadow: inset -8px 25px 2px rgb(203 43 43 / 50%);

	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 

	z-index: 5;
}

.pulltab {
	
	width: 350px;
	height: 2px;
	background: var(--Black);
	position: absolute;
	transform: skewX(10deg);
}

.pulltab2 {
	background: var(--DadBlue);
    width: 100px;
    height: 2px;

    position: relative;
    transform: skewX(-4deg)

}

.redband, .redband_bottom {
  height: 142px;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: var(--DadRed);
  margin-bottom: 456px;
  position: absolute;

}

.redband_bottom {
	  margin-bottom: -392px;
	  background: transparent;
	  border-bottom: 40px solid var(--DadRed);
	  border-radius: 50%;
}

.red_box {
	width: 400px;
	height: 620px;
	border: 10px solid var(--DadRed);
	display: flex;
	justify-content: center;
	align-items: center;
}

.label {
	width: 320px;
	height: 220px;
	background: var(--DadYellow);
	border: 8px solid var(--DadRed);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: skewY(-11deg);
	overflow: visible;

}

.text_main {
	color: var(--DadBlue);
	font-size: 4rem;
}

.text_red {
	color: var(--DadRed);
	font-size: 2rem;
	font-style: italic;
	position: relative;
}

.text_groan, .text_since {
	color: var(--DadYellow);
	font-size: 2rem;
	font-style: italic;
    position: absolute;
    margin-right: 143px;
    margin-top: -272px;
}

.text_since {
	margin-right: -143px;
	margin-top: 272px;
}

.text_lower {
	color: var(--DadBlue);
	font-size: 3rem;
}
